.createCourse
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto

    &-container
        width: 1104px

    &-container-heading
        align-self: flex-start
        color: rgba(51, 62, 72, 1)
        font-size: 32px
        font-family: 'Open Sans', sans-serif
        font-style: normal
        font-weight: 700
        text-transform: capitalize

    &-container-form
        background-color: rgba(255, 255, 255, 1)
        border: solid 1px rgba(207, 207, 207, 1)
        border-radius: 4px
        padding: 42px 80px

    &-container-form-mainBox
        display: flex
        flex-direction: column

    &-durationBox-left-durationBlock
        display: flex
        flex-direction: column
        width: 100%

.durationBlock-input-container
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 100%

.input-with-converter
    display: flex
    align-items: center
    width: 100%

.input-duration
    margin-right: 20px

.durationConverter
    flex-grow: 1

.error-message
    color: red
    margin-top: 5px
    width: 100%

.input-duration.error,  .input-authorName.error
    border: 1px solid red

.duration-label, .authorName-label
    color: rgba(51, 62, 72, 1)
    font-size: 16px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 700

.createCourse-container-form-mainInfoHeading .createCourse-container-form-durationHeading
    padding: 0
    margin: 0
    color: rgba(51, 62, 72, 1)
    font-size: 24px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 700
    text-transform: capitalize

.label
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 700
    text-transform: capitalize
    color: rgba(51, 62, 72, 1)
    font-size: 14px
    margin-top: 24px

.input-title
    height: 50px

.input-error 
    border: 1px solid red

.input-description
    height: 152px

.input-duration
    width: 400px
    height: 50px

input::placeholder
    color: rgba(207, 207, 207, 1)
    font-size: 16px
    line-height: 24px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    vertical-align: top
    padding: 13px 16px
    text-align: top

    .input-title, .input-description, &
        border: 1px solid #ccc
        border-radius: 4px
    
    .input-error
        border: 1px solid red
        border-radius: 4px

    .error-message
        color: red
        font-size: 12px
        margin-top: 5px

    .label
        color: rgba(51, 62, 72, 1)
        font-size: 16px
        font-family: 'Open Sans', sans-serif
        font-style: normal
        font-weight: 700
        line-height: 20px
        
input[type="number"]
    &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    &::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0


.createCourse-container-form-authors
    display: flex
    justify-content: space-between
    margin-top: 32px

.left-authorBlock-container
    display: flex
    align-items: bottom
    flex-direction: row

.input-authorName-btn
    margin-left: 20px

.error-message
    color: red
    margin-top: 5px

.createCourse-durationBox-left-authorBlock-authorHeading, .createCourse-right-courseAuthors
    font-size: 24px
    line-height: 32px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    color: rgba(51, 62, 72, 1)

.input-authorName-btn
    margin-left: 20px

.error-message
    color: red
    margin-top: 5px

.input-authorName
    width: 400px
    height: 50px
    border: 1px solid rgba(207, 207, 207, 1)
    border-radius: 4px

    &-btn
        width: 185px
        height: 50px
        background-color: rgba(0, 114, 152, 1)
        border: none
        text-transform: uppercase
        color: white
        line-height: 24px

.authorName-item-list-heading
    align-self: flex-start
    color: rgba(51, 62, 72, 1)
    font-size: 20px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 700
    text-transform: capitalize
    margin: 0
    padding-top: 32px
    padding-bottom: 24px

.author-item-names
    display: inline-block
    padding-bottom: 16px
    color: rgba(51, 62, 72, 1)
    padding-right: 12px

.author-item-btn-add, .author-item-btn-delete
    background-color: white
    border: none
    margin-right: 5px
    margin-left: 5px

.createCourse-container-footer
    margin-top: 32px
    text-align: right
    margin-bottom: 130px
