.CourseInfo-container
	max-width: 1122px
	margin: 0 auto

	&-heading
		size: 32px
		font-weight: 700
		font-family: 'Open Sans', sans-serif
		font-style: normal
		line-height: 40px
		text-align: left
		color: rgba(51, 62, 72, 1)

	&-body
		background-color: #fff
		border: 1px solid #ccc
		margin: 0 auto
		border-radius: 4px
		padding: 53px 127px 77px 64px

	&-body-title
		size: 20px
		font-weight: 700
		font-family: 'Open Sans', sans-serif
		font-style: normal
		line-height: 20px
		text-align: left
		color: rgba(51, 62, 72, 1)
		margin: 0
		padding-bottom: 25px

	&-block
		display: flex
		justify-content: space-between

.CourseInfo-description
	width: 487px
	color: rgba(51, 62, 72, 1)
	margin: 0

.CourseInfo-data ul
	text-align: left
	list-style: none
	margin: 0
	padding: 0

.id-label
	display: inline-block
	width: 100px
	font-family: 'Open Sans', sans-serif
	font-style: normal

.id-value
	display: inline-block
	max-width: 250px
	overflow: hidden
	text-overflow: ellipsis

li
	margin-bottom: 16px
	white-space: nowrap
	font-family: 'Open Sans', sans-serif
	font-style: normal
	color: rgba(51, 62, 72, 1)

.btn-container
	display: flex
	justify-content: right
	margin-top: 46px

.btn-card-info
	width: 185px

.vertical-line
	width: 1px
	height: 203px
	background-color: rgba(207, 207, 207, 1)
