.CourseCard
	background-color: #fff
	border: 1px solid #ccc
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
	border-radius: 8px
	padding: 21px 104px 35px 24px
	max-width: 1122px
	margin: 33px auto
	position: relative
	border-left: 7px solid rgba(51, 62, 72, 1)

	&-header-title
		size: 32px
		font-weight: 700
		font-family: 'Open Sans', sans-serif
		font-style: normal

	&-body
		display: flex
		justify-content: space-between

	&-body-description
		width: 700px
		line-height: 20px
		font-size: 16px
		color: rgba(51, 62, 72, 1)
		text-align: left

	&-body-data ul
		flex-grow: 1
		text-align: left
		list-style: none
		padding: 0
		margin: 0
		margin-bottom: 35px

ul
	width: 310px

	&-sidebar li
		font-size: 14px
		color: #333

	&-sidebar li span
		font-weight: bold
		color: #666

.btn-card
	width: 180px
	
.btn-trash 
	width: 61px
	height: 50px
	margin-left: 11px

.btn-pencil
	width: 61px
	height: 50px
	margin-left: 11px