html, body
    height: 100%
    margin: 0
    padding: 0
    position: relative

.registration
    margin: 0 auto

    &-container
        background-color: blue
        width: 585px
        height: 558px auto
        margin: 0 auto
        border-radius: 4px
        border: 2px solid rgba(207, 207, 207, 1)
        background-color: rgba(255, 255, 255, 1)

    &-container-heading
        color: rgba(51, 62, 72, 1)
        font-size: 32px
        line-height: 40px
        text-align: center
        margin-top: 100px

    &-container-form
        display: flex
        flex-direction: column
        align-items: center

    &-container-form .label
        align-self: flex-start
        padding-left: 150px

    &-container-form .error-message
        align-self: flex-start
        padding-left: 150px

.label .error-message
    align-self: flex-start
    padding-left: 150px

.label:first-child
    margin-top: 77px

.label
    margin-top: 28px

.btn-registration
    width: 286px
    height: 50px
    background-color: rgba(0, 114, 152, 1)
    font-weight: 600
    border: none
    size: 16px
    color: white
    text-transform: uppercase
    line-height: 24px
    border-radius: 4px
    margin-top: 34px
    margin-bottom: 38px

.registration-form-message
    color: rgba(51, 62, 72, 1)
    size: 16px
    line-height: 20px
    font-family: 'Open Sans', sans-serif
    font-style: normal
    margin-bottom: 61px

    &-link
        font-family: 'Open Sans', sans-serif
        font-style: normal
        text-decoration: none
        color: rgba(51, 62, 72, 1)
        font-weight: 800

.login-message
    text-align: center
    margin: 0
    padding: 0

.input-name, .input-email, .input-password
    padding: 0 16px
    width: 286px
    height: 50px
    border-radius: 4px
    border: 1px solid #ccc
    border-radius: 4px

input::placeholder
    color: rgba(207, 207, 207, 1)
    font-size: 16px
    line-height: 24px
    font-family: 'Open Sans', sans-serif
    font-style: normal

    .input-error
        border: 1px solid red
        border-radius: 4px

    .error-message
        color: red
        font-size: 12px
        margin-top: 5px

    .label
        color: rgba(51, 62, 72, 1)
        font-size: 16px
        font-family: 'Open Sans', sans-serif
        font-style: normal
        font-weight: 700
        line-height: 20px
