
.navbar
	display: flex
	justify-content: space-between
	width: 100%
	height: 80px
	border: 1px solid rgb(177, 175, 175)
	background-color: rgba(255, 255, 255, 1)

.right-section
	display: flex
	align-items: center

.common-btn-style
	height: 50px
	background-color: rgba(0, 114, 152, 1)
	border: none
	border-radius: 4px
	size: 16px
	line-height: 24px
	color: rgba(255, 255, 255, 1)
	font-weight: 700
	font-family: 'Open Sans', sans-serif
	font-style: normal

.btn-logo
	width: 140px
	margin: 15px 30px 15px 0

.header-logo
	margin: 12px 0 20px 37px
	width: 111px

.welcome-message
	color: #000000
	font-size: 16px
	display: block

.header-name
	color: rgba(51, 62, 72, 1)
	size: 14px
	line-height: 20px
	text-align: right
	margin-right: 20px
	white-space: nowrap
	font-weight: 600
	font-family: 'Open Sans', sans-serif
	font-style: normal
