.courses-container
	display: flex
	flex-direction: column
	width: 100%

.SearchBar
	width: 1200px
	display: flex
	justify-content: space-between
	align-items: center
	margin: 0 auto
	padding-top: 74px

	&-container
		display: flex
		flex-grow: 1
		align-items: center

.SearchBar-input
	margin-right: 16px
	width: 400px
	height: 50px
	background-color: white
	border: 1px solid rgba(207, 207, 207, 1)
	border-radius: 4px

.SearchBar-input::placeholder
	font-size: 16px
	color: rgba(207, 207, 207, 1)
	padding: 16px 13px

.btn-SearchBar,  .btn-addCourse
	width: 148px
	margin-left: 16px
	height: 50px
	background-color: rgb(0, 114, 152)
	border: none
	border-radius: 4px
	size: 16px
	line-height: 24px
	color: rgb(255, 255, 255)
	font-weight: 700
	font-family: "Open Sans", sans-serif
	font-style: normal
