body
	background-color: none

.EmptyCourse-container
	text-align: center
	justify-content: center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	&-title
		color: rgba(51, 62, 72, 1)
		size: 32px
		line-height: 40px
		font-weight: 700
		font-family: 'Open Sans', sans-serif
		font-style: normal
		margin: 0 0 24px 0

	&-subtitle
		font-family: 'Open Sans', sans-serif
		font-style: normal
		size: 16px
		line-height: 20px
		color: rgba(51, 62, 72, 1)
		margin: 0 0 40px 0

.btn-EmptyCourse
	width: 233px
